<h2>{{title}}</h2>


<p>{{body.description}}</p>
<img src="{{ User.avatar }}" alt="{{ user.name }} on Networkerr">
<h3>Name: <small>{{ User.name }}</small></h3>
<h3>Username: <small>{{ User.username }}</small></h3>
<h3>Email: <small>{{ User.email }}</small></h3>

