<h1>Company Profile: {{company.name}}<small><a href="//{{company.domain}}" target="_blank">{{company.domain}}</a></small></h1>

<div class="row">
    <div class="col-sm-12 col-md-6">
        {{#if company.email}}
            <h2>Emails</h2>
            <div class="row">
                {{#each company.email as |email|}}
                <div class="card responsive-padding responsive-margin shadowed rounded" data-modal="email-modal">
                    <div class="section">
                        <h3 class="fc-email">{{email}}</h3>
                        <p>Confidence score: {{lookup ../company.confidence @index}}%</p>
                        <progress class="tertiary rounded" value="{{lookup ../company.confidence @index}}" max="100"></progress>
                    </div>
                </div>
                {{/each}}
            </div>
        {{else}}
        <h2>No emails found</h2>
        {{/if}}
    </div>

    <div class="col-sm-12 col-md-6 col-sm-first col-md-last">
        <h3>{{company.name}}</h3>
        {{#if profile}}
        <img src="{{profile.logo}}" />
        <h4>Approximately {{profile.employees}} employees</h4>
        <h5><small>{{profile.phone}}</small></h5>
        {{#if profile.address.street}}
        <h5><small>{{ profile.address.street}}, {{ profile.address.city}}, {{ profile.address.region}}</small></h5>
        {{/if}}
        <p class="lead">{{profile.overview}}</p>
        <ul class="company-profile-keywords">
            {{#each profile.keywords}}
            <li><mark class="tag">{{this}}</mark></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>
<div id="email-modal" class="modal">
  <div class="modal-content">
    <div class="contact-form">
      <a class="close"></a>
      <h2 class="fc-email-modal">Email will go Here</h2><br>
      <div class="fc-email-modal-social"></div>
      <p class="fc-email-modal-data"></p>
      <div class="fc-email-modal-photos"></div>
      <div class="fc-email-modal-bio"></div>
      <div class="fc-email-modal-topics"></div>
    </div>
  </div>
</div>

{{!-- {{#each profile.social}}
    {{#with (lookup this) @index}}
        {{typeName}}
    {{/with}}
{{/each}} --}}

<script>
    console.log({{{JSON profile.social}}})
    const fullContactKey = `&apiKey=3a37eb6865a25421`
    const fullContactUrl = 'https://api.fullcontact.com/v2/person.json?email=';
    var person;

    function getFullContactPersonal(fullContactUrl, fullContactKey, email){
    return axios.get(fullContactUrl + email + fullContactKey)
    .then(function (response) {
        if (response.data.status === 200) {
            let res = response.data;
            //console.log(response.data.contactInfo.fullName)
        person = {
            fullName: res.contactInfo.fullName,
            position: res.organizations[0].title,
            photos: [res.photos],
            social: [res.socialProfiles],
            topics: [res.digitalFootprint]
        }
        return person;
        } else {
            person = null;
            return person;
        }
        
    })
    .catch(function (error) {
      console.error(error); throw error;
      person = null;
      return person;
    });
}

    var modalBtns = [...document.querySelectorAll(".card")];
    modalBtns.forEach(function(btn){
    btn.onclick = function() {
        var email = btn.firstElementChild.firstElementChild.innerHTML;
        var persona;
        //console.log(email);
        var modal = btn.getAttribute('data-modal');
        let fcEmailModal = document.querySelector(".fc-email-modal");
        let fcEmailModalData = document.querySelector('.fc-email-modal-data');
        let fcEmailModalSocial = document.querySelector('.fc-email-modal-social');
        let fcEmailModalPhotos = document.querySelector('.fc-email-modal-photos');
        let fcEmailModalBio = document.querySelector('.fc-email-modal-bio');  
        let fcEmailModalTopics = document.querySelector('.fc-email-modal-topics');        
              
        getFullContactPersonal(fullContactUrl, fullContactKey, email).then(function(response) {
            fcEmailModalPhotos.innerHTML = '';
            fcEmailModalSocial.innerHTML = '';
            fcEmailModal.innerHTML = '';
            fcEmailModalData.innerHTML = '';
            fcEmailModalBio.innerHTML = '';
            fcEmailModalTopics.innerHTML = '';            
            let persona = response;
            fcEmailModal.innerHTML = email;
            fcEmailModalData.innerHTML = persona.fullName + ' <small>Position:' + persona.position + '</small>';
            if (persona.photos) {
                //find a way to output photos to modal
                for(var i = 0; i<persona.photos[0].length; i++) {
                    fcEmailModalSocial.innerHTML += `
                        <a href="${persona.social[0][i].url}" title='${email} on ${persona.social[0][i].typeName}' target="_blank" rel="nooopener">
                        <mark class='tag tertiary'>${persona.social[0][i].typeName}</mark>
                        </a>
                    `;
                    fcEmailModalPhotos.innerHTML += `
                            <span 
                                class="tooltip" 
                                aria-label="Image provided by ${persona.photos[0][i].typeName}"
                            >
                                <img 
                                    class='rounded'
                                    src=${persona.photos[0][i].url} 
                                    alt='Photo of ${email} from ${persona.photos[0][i].typeName}'
                                />
                            </span>`;
                    if (persona.social[0][i].bio) {
                        fcEmailModalBio.innerHTML += `<blockquote cite="${persona.social[0][i].typeName}">${persona.social[0][i].bio}</blockquote>`;
                    }

                    if (persona.topics[0].topics[i].value) {
                        fcEmailModalTopics.innerHTML += `
                            <mark class="tag primary">${persona.topics[0].topics[i].value}</mark>
                        `;
                    }
                }
                
            }
        })
        
        document.getElementById(modal).style.display = "block";
    }
    });
    var closeBtns = [...document.querySelectorAll(".close")];
    closeBtns.forEach(function(btn){
    btn.onclick = function() {
        var modal = btn.closest('.modal');
        modal.style.display = "none";
    }
    });

    window.onclick = function(event) {
    if (event.target.className === "modal") {
        event.target.style.display = "none";
    }
    }
</script>