<h1>Welcome</h1>

<p>{{{ body.description }}}</p>

<form action="/" method="POST">
    <input type="text" name="domain" id="domain" />
</form>

<p><span id="fill"></span></p>

<a class="hunter-text" target="_blank">

</a>

<section class="hunter-output">
    <h1 class="hunter-output_domain"></h1>
    <article class="hunter-output_emails">
        <h3>Emails</h3>
        <ul class="hunter-output_emails-items">
        </ul>
    </article>
</section>


<script>
    window.onkeyup = keyup;

    var searchVal;
    let domain = document.querySelector('#domain');
    let fill = document.querySelector('#fill');
    let output = document.querySelector('.hunter-text');

    function keyup (e) {
        searchVal = e.target.value;

        fill.innerHTML = `Searching for: ${searchVal} ...press enter when ready`;

        if (e.keyCode == 13) {
            searchHunter(searchVal);
            domain.value = '';
        }
    }
    var res;
    function Company() {
        this.domain = '';
        this.emails = '';
    }


    function outputHunter(response) {
        let hunterDomain = document.querySelector('.hunter-output_domain');
        let hunterEmails = document.querySelector('.hunter-output_emails-items')
        let res = response.data.data;
        console.log(res)


        //Setting up company class
        //instantiate new object
        let company = new Company();
        company.domain = res.domain;
        company.emails = res.emails;

        let x = 0;        
        
        while(x < company.emails.length) {
            var li = document.createElement('li')
            var textNode = document.createTextNode(`
                Email: ${company.emails[x].value} 
                Confidence: ${company.emails[x].confidence}% 
                Number of Sources: ${company.emails[x].sources.length}`);
            li.appendChild(textNode)
            hunterEmails.appendChild(li);
            x++;
        }

        


        //output to front end
        hunterDomain.innerHTML = company.domain;
        
        
        
        return console.log(company);
        
    }

    function searchHunter(searchVal) {
        output.href = "{{{hunter.url}}}" + searchVal + "{{{hunter.key}}}";
        output.innerHTML = "{{{hunter.url}}}" + searchVal + "{{{hunter.key}}}";

        axios.get("{{{hunter.url}}}" + searchVal + "{{{hunter.key}}}")
        .then(function (response) {
            outputHunter(response);
        })
        .catch(function (error) {
            console.log(error);
        });
    }

    
    
</script>